*.suo
*.pyproj
*.sln
.vscode/
*.txt
!sklady_helper.txt
!posterunki_helper.txt
!historia_helper.txt
*.exe
*.spec
/dist/
/build/
/Helper/__pycache__/
/Helper//.pytest_cache/
/Helper/.vs/
/Helper/.idea/
/Helper/build/
